# Titanic: Machine Learning from Disaster

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submit = pd.read_csv('gender_submission.csv')

### Feature engineering and Feature Selection

In [3]:
test.loc[test['Cabin'].isna()==True,'Cabin'] = 'Z'
train.loc[train['Cabin'].isna()==True,'Cabin'] = 'Z'
def split(word):
    return [char for char in word]

In [4]:
# extract the title
train['Title'] = train['Name'].str.split(', ', expand=True)[1].str.split('.', expand=True)[0]
test['Title'] = test['Name'].str.split(', ', expand=True)[1].str.split('.', expand=True)[0]

In [5]:
# simplify code using encode = ['Sex','AgeRange','Cabin']
dummies = pd.get_dummies(train.Sex)
for i in train['Sex'].unique():
    train[i] = 0
for i in train['Sex'].unique():
    train.loc[:,i] =  dummies[i]
#train = train.drop(['Sex'], axis=1) 
train.head()
dummies = pd.get_dummies(test.Sex)
for i in test['Sex'].unique():
    test[i] = 0
for i in test['Sex'].unique():
    test.loc[:,i] =  dummies[i]
#test = test.drop(['Sex'], axis=1)

In [6]:
train['Title'].unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer'], dtype=object)

In [ ]:
train[train['Embarked'].isna()==True][['Name','Sex','Ticket','Embarked','Cabin']]

 After google one of the passengers (https://www.encyclopedia-titanica.org/titanic-survivor/martha-evelyn-stone.html) found that the Embarked value is 'S' since the other passenger has the same ticket number means they travelled together and so both Embarked from the same location

In [7]:
train['Embarked'] = train['Embarked'].fillna('S')
# one hot encoding for Embarked
dummies = pd.get_dummies(train.Embarked)
for i in train['Embarked'].unique():
    train[i+'E'] = 0
for i in train['Embarked'].unique():
    train.loc[:,i+'E'] =  dummies[i]
dummies = pd.get_dummies(test.Embarked)
for i in test['Embarked'].unique():
    test[i+'E'] = 0
for i in test['Embarked'].unique():
    test.loc[:,i+'E'] =  dummies[i]

In [11]:
train['Ticket_freq'] = train.groupby('Ticket')['Ticket'].transform('count')
test['Ticket_freq'] = test.groupby('Ticket')['Ticket'].transform('count')

In [13]:
print(train.groupby('Pclass')['Cabin'].value_counts().unstack().fillna(0))

Cabin   A10  A14  A16  A19  A20  A23  A24  A26  A31  A32  ...  F E69  F G63  \
Pclass                                                    ...
1       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  ...    0.0    0.0
2       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0    0.0
3       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    1.0    1.0

Cabin   F G73   F2  F33  F38   F4   G6    T      Z
Pclass
1         0.0  0.0  0.0  0.0  0.0  0.0  1.0   40.0
2         0.0  3.0  3.0  0.0  2.0  0.0  0.0  168.0
3         2.0  0.0  0.0  1.0  0.0  4.0  0.0  479.0

[3 rows x 148 columns]